<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bama Studio'</title>
    <link rel= "stylesheet" href="../style/home.css">
</head>
<body>
    <!-- header -->
    <div class="header">
        <div class="leftside"><a href="#">Bama Studio</a></div>
        <div class="rightside"><a href="Register.html">Join Now</a></div>
    </div>

    <!-- content -->
    <div class="content">
        <div class="upper-content">
            <div class="image"></div>
            <div class="aboutus">
                <h1 id="whatis">What is Bama Studio?</h1>
                <p>
                    Bama Studio is backpack manufacture which is known as the best backpack maker in Indonesia.
                </p>
                <p>
                     Our Backpack ranging from Lite series to our new upcoming XV 51 Multicam, which all specifially designed by our designer and crafted with out utmost care to perfection
                </p>
                    Browse our catalogue of backpack in our website or register to recieve special promo for our member
                <label class="catalog">Our Catalog</label>
            </div>
        </div>
        <div class="middle-content">
            <div class="photo1 photo"><img width='250px' src="../assets/waistpack.jpg" alt="">
                <p>
                    Waistbag collection
                 </p>
                 <label class="Shop">
                     Shop Now
                 </label>
            </div>
            
            <div class="photo2 photo"><img width='250px' src="../assets/backpack.jpg" alt="">
                <p>
                backpack collection
             </p>
             <label class="Shop">
                 Shop Now
             </label>
            </div>
            
            <div class="photo3 photo"><img width='250px' src="../assets/bumper.jpg" alt="">
                <p>
                    Bumper collection
                </p>
                 <label class="Shop">
                     Shop Now
                 </label>
            </div>
        </div>
            <div class="low">
                <div class="comingsoon">
                   <h1>
                    VX 51 MULTICAM &#174;
                    <br>
                    DARK CAMO
                   </h1>  
                  <h1 id='down'>
                      Coming Soon
                    </h1>
                </div>
             </div>
        </div>
    </div>

    <!-- footer -->
    <div class="footer">
        <div class="photos">
            <a href="https://twitter.com/">
                <img width="27px" src="../assets/twitter_PNG28.png" alt="">
            </a>
            <img width="25px" src="../assets/instagram-logos-png-images-free-download-2.png" alt="">
            <a href="https://facebook.com/">            
                <img width="24" src="../assets/facebook_logos_PNG19748.png" alt="">
            </a>

        </div>
        <span>
            Bama Studio &#174;
        </span>
    </div>

</body>
</html>